<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.henrikhorbovyi.jetpackcomposeparkinho">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetpackComposeParkinho.NoActionBar">
        <activity android:name=".ui.SamplesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="io.henrikhorbovyi.jetpackcomposeparkinho.ui.animation.CrossfadeActivity"/>
        <activity android:name="io.henrikhorbovyi.jetpackcomposeparkinho.ui.foundation.BoxActivity"/>
        <activity android:name="io.henrikhorbovyi.jetpackcomposeparkinho.ui.foundation.TextActivity"/>
        <activity android:name="io.henrikhorbovyi.jetpackcomposeparkinho.ui.layout.RowActivity"/>
        <activity android:name="io.henrikhorbovyi.jetpackcomposeparkinho.ui.layout.ColumnActivity"/>
        <activity android:name="io.henrikhorbovyi.jetpackcomposeparkinho.ui.material.AlertDialogActivity"/>
        <activity android:name="io.henrikhorbovyi.jetpackcomposeparkinho.ui.material.BottomAppBarActivity"/>
        <activity android:name="io.henrikhorbovyi.jetpackcomposeparkinho.ui.material.BottomNavigationActivity"/>
        <activity android:name="io.henrikhorbovyi.jetpackcomposeparkinho.ui.material.ButtonActivity"/>
        <activity android:name="io.henrikhorbovyi.jetpackcomposeparkinho.ui.material.DividerActivity"/>
        <activity android:name="io.henrikhorbovyi.jetpackcomposeparkinho.ui.material.CardActivity"/>
        <activity android:name="io.henrikhorbovyi.jetpackcomposeparkinho.ui.material.CheckBoxActivity"/>
        <activity android:name="io.henrikhorbovyi.jetpackcomposeparkinho.ui.material.FloatingActionButtonActivity"/>
        <activity android:name="io.henrikhorbovyi.jetpackcomposeparkinho.ui.material.ProgressActivity"/>
        <activity android:name="io.henrikhorbovyi.jetpackcomposeparkinho.ui.material.RadioButtonActivity"/>
        <activity android:name="io.henrikhorbovyi.jetpackcomposeparkinho.ui.material.TopAppBarActivity"/>
        <activity android:name="io.henrikhorbovyi.jetpackcomposeparkinho.ui.material.SnackBarActivity"/>
        <activity android:name="io.henrikhorbovyi.jetpackcomposeparkinho.ui.material.ScaffoldActivity"/>
    </application>

</manifest>